<navbar></navbar>
<div ng-controller="homeCtrl">
    <div class="container mw-900">
        <div class="w-100 h-45">
            <div class="row">
                <div class="col-sm-6 text-muted">
                    <h5 class="lh-50">Generate Report</h5>
                </div>
                <div class="col-sm-6 pt-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-outline-secondary" ng-click="search(searchStr)">Search by {{sortBy}}</button>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <span ng-repeat="i in sort">
                                    <a class="dropdown-item" ng-click="sortByFilter(i)">{{i}}</a>
                                </span>
                            </div>
                        </div>
                        <input type="text" class="form-control" ng-model="searchStr" placeholder="Search by keyword" ng-change="getdata(searchStr);" aria-label="Text input with segmented dropdown button">
                        <ul class="list-group" style="z-index:1">
                            <a ng-repeat="result in data.dataSet" ng-if="searchStr!=''&& searchStr!==result.title" ng-click="getdata(result.title);">
                                <li class="list-group-item wrap-list list-group-item-secondary dropdown-item f-14">
                                    {{result.title}}
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <a ng-repeat="result in dataSearch | orderBy : sortBy" ng-click="setModal(result)" data-toggle="modal" data-target="#modalCenter">
            <div class="container py-3">
                <div class="card">
                    <div class="row ">
                        <div class="col-md-4">
                            <img ng-src="{{result.image}}" width="190px">
                        </div>
                        <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                                <h4 class="card-title">{{result.title}}</h4>
                                <p class="card-text f-14">{{result.shortDes}}</p>
                                <small class="text-muted">PUBLISHED : {{result.date | date :'medium'}}</small><br>
                                <br><small class="text-muted">COST OF REPORT : ${{result.cost}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
      
      <!-- Modal -->
      <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title f-14" id="modalLongTitle">{{dataObj.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <small>{{dataObj.shortDes}}</small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>