.mw-900{
    max-width: 900px !important;
}
.w-100{
    width: 100% !important;
}
.h-45{
    height: 45px !important;
}
.pri-color{
    background-color: #5cc4c7;
}
.lh-50{
    line-height: 50px !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.wrap-list{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40ch;
}
.f-18{
    font-size: 18px;
}
.f-14{
    font-size: 14px;
}